@charset "utf-8";
#logo  {
	background: linear-gradient(#006b98, #b00040);
	margin-top: 10px;
}		

#Navbar {
	font-style: normal;
	font-weight: 400;
	padding-left: 5px;
	padding-bottom: 1px;
}
button {
	background-color: #006B98;
	min-width: 100px;
	min-height: 50px;
	color: white;
	font-family: neuton;
	font-style: normal;
	font-weight: 300;
	font-size: 1.2em;
	border-radius: 6px;
	-webkit-box-shadow: 3px 3px grey;
	box-shadow: 3px 3px grey;
	margin-left: 2px;
	margin-right: 3px;
}

#bartInput {
	float: left;
	padding-right: 29px;
	padding-left: 15px;
}
#console {





}
select {
	width: 275px;
	height: 25px;
	border-radius: 4px;
}


.input-group {

}
.form-control {
	width: 276px;
}
#muni-input {
	padding-left: 30px;
}

table,th,tr,td {
	border: 3px solid black;
	background-color: white;
}

.table {
	border: 3px solid black;
	max-width: 1100px;
}

.panel-heading {
	background-color: blue;
	color: white;
	max-width: 1100px;
}#wrapper {
	padding-bottom: 24px;
	padding-top: 20px;


}
img {
	margin-left: -7px;
}
.navButt {
	padding-right: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#panel-heading {
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #006b98;
	max-height: 49px;

}
#panel-title {
	color: white;
	text-align: center;
}

button:hover  {
	background-color: #b00040;	
}

botton:active  {
	background-color: back;
	transition-duration: 4s;
}
